@using Relativity_Extension.CustomPages.Models
@model WorkerAgentModel

@{
    ViewBag.Title = "Worker Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Init
{
    WorkerAgent.URLWorkerIndex = '@Url.Action("Index", "WorkerAgent", new { appId = Relativity.CustomPages.ConnectionHelper.Helper().GetActiveCaseID(), StandardsCompliance = true })';
    WorkerAgent.init();
}

<div class="container" id="dvIndex">
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">Worker Queue</div>
        <div class="panel-body">
            <br />
            @if (Model.Records.Count > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{
                WebGrid recordsGrid = new WebGrid(@Model.Records, canPage: false, canSort: false);
                            <div>
                                @recordsGrid.GetHtml("table",

                            fillEmptyRows: false,
                            headerStyle: "header",
                            footerStyle: "grid-footer",

                            columns: new[]
                            {
                                recordsGrid.Column("JobId", "Job ID"),
                                recordsGrid.Column("ParentRecordArtifactId", "Parent Record Artifact ID"),
                                recordsGrid.Column("AddedOn", "Added On"),
                                recordsGrid.Column("WorkspaceArtifactId", "Workspace Artifact ID"),
                                recordsGrid.Column("WorkspaceName", "Workspace Name"),
                                recordsGrid.Column("Status"),
                                recordsGrid.Column("AgentId", "Agent ID"),
                                recordsGrid.Column("RemainingRecordCount", "# Records Remaining"),
                                recordsGrid.Column("Priority")
                            })
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        No records in the queue 
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*loading*@
<div id="modal"></div>

