/bin/
/Bin/
/obj/
/Obj/
UpgradeResults.xml
suo
re:\.user
_ReSharper
.hgignore
.dotCover
/toDelete/
/Junk/
/XXX/
.orig
/JJK_
cp_deployment/
bin/
obj/
Bin/
Obj/
re:~.*
StyleCop*
.pyo
.vs
*.pubxml.user
*.csproj.user
*.suo
Source/Code/AdminMigrationUtility/AdminMigrationUtility.sln.DotSettings.user
/Source/Code/Agents/packages
/Source/Code/CustomPages/MVC5/packages
/Source/Code/CustomPages/WebForms/packages
/Source/Code/EventHandler/packages
/Source/Code/Kepler/packages
/Source/Code/RIP/packages
/Source/Code/TestHelper/packages
/Source/Code/WorkerManager/packages
