/bin/
/Bin/
/obj/
/Obj/
UpgradeResults.xml
suo
re:\.user
_ReSharper
.hgignore
.dotCover
/toDelete/
/Junk/
/XXX/
.orig
/JJK_
cp_deployment/
bin/
obj/
Bin/
Obj/
re:~.*
StyleCop*
.pyo
.vs
*.pubxml.user
*.suo
Source/Code/AdminMigrationUtility/AdminMigrationUtility.sln.DotSettings.user
