@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-10">
            <h3>Error &nbsp; &nbsp;<span class="glyphicon glyphicon-exclamation-sign"></span></h3>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">Access Denied</div>
        <div class="panel-body">
            You do not have access to view this page.  Please contact the system administrator.
        </div>
    </div>
</div>
