@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-10">
            <h3>Error &nbsp; &nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></h3>
        </div>
    </div>
    <br />
    <div class="panel panel-danger">
        <div class="panel-heading">An unexpected error has occurred. Please check the Errors tab for more information.</div>
        <div class="panel-body" style="word-wrap: break-word">
            <b>Exception:</b> @Model.Exception.Message<br />
            @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
            {
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName<br />
                <b>Stack Trace:</b> @Model.Exception.StackTrace
            }
        </div>
    </div>
</div>

@*loading*@
<div id="modal"></div>
