<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net462" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net452" />
  <package id="Relativity.Api" version="9.5.169.7" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="9.5.169.7" targetFramework="net462" />
  <package id="RelativityDev.RelativityTestHelpers" version="4.1.0.1" targetFramework="net462" />
</packages>